# Local env files
.env
.env.*
!.env.example

# Dependency directories
node_modules/

# Astro build output
dist/
output/
.astro/

# Mac OS
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
