@inherits LayoutComponentBase

<div class="page">
    <div class="flex-row">
        <div class="flex-columnleft">
            <NavMenu />
        </div>
        <div class="flex-columnright">
            <main>
                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </div>
</div>
