<div class="flex-verticalitem">&nbsp;-
    <NavLink href="" Match="NavLinkMatch.All">
        <span aria-hidden="true"></span>Home
    </NavLink>
</div>

<div class="flex-verticalitem">&nbsp;-
    <NavLink href="Certifications" Match="NavLinkMatch.All">
        <span aria-hidden="true"></span> Certifications 
    </NavLink>
</div>

<div class="flex-verticalitem">&nbsp;-
    <NavLink href="Projects" Match="NavLinkMatch.All">
        <span aria-hidden="true"></span> Projects
    </NavLink>
</div>

<div class="flex-verticalitem">&nbsp;-
    <NavLink href="Homelab" Match="NavLinkMatch.All">
        <span aria-hidden="true"></span> Homelab 
    </NavLink>
</div>

<div class="flex-verticalitem">&nbsp;-
    <NavLink href="Files" Match="NavLinkMatch.All">
        <span aria-hidden="true"></span> Files 
    </NavLink>
</div>

