<div class="flex-verticalitem">&nbsp;-
    <NavLink href="" Match="NavLinkMatch.All">
        <span aria-hidden="true"></span>Home
    </NavLink>
</div>

<div class="flex-verticalitem">&nbsp;-
    <NavLink href="Projects" Match="NavLinkMatch.All">
        <span aria-hidden="true"></span> Projects
    </NavLink>
</div>

<!--
<div class="flex-verticalitem">&nbsp;-
    <NavLink href="HomeLab" Match="NavLinkMatch.All">
        <span aria-hidden="true"></span> HomeLab
    </NavLink>
</div>
-->

<div class="flex-verticalitem">&nbsp;-
    <NavLink href="Files" Match="NavLinkMatch.All">
        <span aria-hidden="true"></span> Files
    </NavLink>
</div>
