<div class="flex-verticalitem">&nbsp;-
    <NavLink href="" Match="NavLinkMatch.All">
        <span aria-hidden="true"></span>Home
    </NavLink>
</div>
<!--
<div class="flex-verticalitem">&nbsp;-
    <NavLink href="Projects" Match="NavLinkMatch.All">
        <span aria-hidden="true"></span> Projects
    </NavLink>
</div>

<div class="flex-verticalitem">&nbsp;-
    <NavLink href="TextGame" Match="NavLinkMatch.All">
        <span aria-hidden="true"></span> Text Game
    </NavLink>
</div>
-->

