@page "/"
@using MitchfenSite.Components
<PageTitle>Mitchell Fenner</PageTitle>

<div>
    Welcome to mitchfen.xyz
    <br/>
    <br/>
    
    <FindMeOnline/>
    <br/>

    <!--
    Checkout my certifications:
    <Certifications/>
    
    <br/>
    -->
   
    <!--
    Or checkout what I'm doing in my 
    <NavLink href="Homelab" Match="NavLinkMatch.All">
        <span aria-hidden="true"></span>homelab 
    </NavLink> 
    -->
    
    <!--
    <GenericDropdown Title="Checkout my certifications" @ref="certsDropdown">
        <ul>
            <Certifications/>
        </ul>
    </GenericDropdown>
    -->
    
    <!--
    <GenericDropdown Title="Checkout my old projects" @ref="projectsDropdown">
        <ul>
            <Projects/>
        </ul>
    </GenericDropdown>
    -->
    
</div>

@code {
    private GenericDropdown certsDropdown;
    private GenericDropdown projectsDropdown;
}