@page "/"
<PageTitle>Mitchell Fenner</PageTitle>

<div class="flex-item">
    <p>
        Welcome to Mitchell Fenner's personal website.
        <br /><br />
        I'm a DevOps Engineer with a passion for automation, CI/CD, and helping developers work more effectively together.
        My work primarily involves Azure and the .NET ecosystem while in my free time I enjoy coding hobby projects in Python and working on my Proxmox homelab.
    </p>
    <h3>Links:</h3>
    <ul>
        <li><a href="https://github.com/mitchfen">GitHub</a></li>
        <li><a href="https://linkedin.com/in/mitchfen">LinkedIn</a></li>
        <li>View the <a href="https://github.com/mitchfen/mitchfen.xyz">source</a> for this site.</li>
        <!--
        <li><a href="https://orcid.org/0000-0002-9684-0447">Orcid</a></li>
        <li><a href="https://hub.docker.com/u/mitchfen">DockerHub</a></li>
        -->
    </ul>
</div>
