@page "/"
<PageTitle>Mitchell Fenner</PageTitle>

<div class="flex-item">
    Welcome to Mitchell Fenner's personal website.
    View the <a href="https://github.com/mitchfen/mitchfen.xyz">source</a>.
    <br/>
    <br/>
    Find me on <a href="https://github.com/mitchfen">GitHub</a>.
    <br/>
    <br/>
    Or <a href="https://linkedin.com/in/mitchfen">LinkedIn</a>.
</div>