@page "/"
@using MitchfenSite.Components
<PageTitle>mitchfen.com</PageTitle>

<div>
    <form>
      <fieldset>
        <legend>mitchell fenner</legend>
          <FindMeOnline/>
      </fieldset>
    </form>
</div>
