@page "/"
<PageTitle>Mitchell Fenner - Home</PageTitle>

<div class="flex-item">
    <p>
        Welcome to Mitchell Fenner's personal website 👋.
        <br/>
        <br/>
        I'm a Senior Cloud Operations Engineer with a passion for automation. 
		I work primarily with Azure, PowerShell, C#, and the .NET ecosystem. 
		Aside from work I enjoy tinkering with different services in my homelab and rock climbing 🧗‍♂️
    </p>
    <p>
        Find me online:
        <br/>
        • <a href="https://github.com/mitchfen" target="_blank">GitHub</a>
        <br/>
        • <a href="https://linkedin.com/in/mitchfen" target="_blank">LinkedIn</a>
        <br/>
        • <a href="https://learn.microsoft.com/en-us/users/mitchfen/" target="_blank">Microsoft Learn</a>
        <br/>
        • <a href="https://orcid.org/0000-0002-9684-0447" target="_blank">Orcid</a>
        <br/>
        • <a href="https://www.hackerrank.com/profile/mitchfen" target="_blank">HackerRank</a>
        <br/>
        • <a href="https://hub.docker.com/u/mitchfen" target="_blank">DockerHub</a>
    </p>
</div>
