@page "/"
@using MitchfenSite.Components
<PageTitle>mitchfen.com</PageTitle>

<div>
    <p>mitchell fenner</p>
    <FindMeOnline/>

    <!--
    <GenericDropdown Title="my certifications" @ref="_certsDropdown">
        <ul>
            <Certifications/>
        </ul>
    </GenericDropdown>

    <GenericDropdown Title="my old projects" @ref="_projectsDropdown">
        <ul>
            <Projects/>
        </ul>
    </GenericDropdown>
    -->

</div>

@code {
    //private GenericDropdown _certsDropdown;
    //private GenericDropdown _projectsDropdown;
}
