@page "/"
@using MitchfenSite.Components
<PageTitle>Mitchell Fenner's personal website</PageTitle>

<div>
    <h3>Mitchell Fenner</h3>
    <FindMeOnline/>
    
    <GenericDropdown Title="my certifications" @ref="_certsDropdown">
        <ul>
            <Certifications/>
        </ul>
    </GenericDropdown>

    <GenericDropdown Title="my old projects" @ref="_projectsDropdown">
        <ul>
            <Projects/>
        </ul>
    </GenericDropdown>

</div>

@code {
    private GenericDropdown _certsDropdown;
    private GenericDropdown _projectsDropdown;
}