@page "/"
<PageTitle>mitchfen.xyz - Home</PageTitle>

<div class="flex-item">
    <p>
        Welcome to Mitchell Fenner's personal website.
        <br/><br/>
        I'm a Cloud Operations Engineer with a passion for automation. I work primarily with Azure, PowerShell, C#, and the .NET ecosystem.
        <br/>
        Aside from work I enjoy tinkering with my <a href="Homelab">Proxmox homelab</a> and rock climbing.
    </p>
    <h4>Find me online:</h4>
    <ul>
        <li><a href="https://linkedin.com/in/mitchfen">LinkedIn</a></li>
        <li><a href="https://github.com/mitchfen">GitHub</a></li>
        <li><a href="https://learn.microsoft.com/en-us/users/mitchfen/">Microsoft Learn</a></li>
        <li><a href="https://orcid.org/0000-0002-9684-0447">Orcid</a></li>
        <li><a href="https://www.hackerrank.com/profile/mitchfen">HackerRank</a></li>
        <li><a href="https://hub.docker.com/u/mitchfen">DockerHub</a></li>
    </ul>
</div>
