@page "/project"


<h3><a href=@ProjectUrl>@ProjectName</a></h3>
<p>@ProjectDescription (@ProjectLanguage)</p>

@code {
    [Parameter]
    public string? ProjectName { get; set; }

    [Parameter]
    public string? ProjectDescription { get; set; }

    [Parameter]
    public string? ProjectUrl { get; set; }

    [Parameter]
    public string? ProjectLanguage { get; set; }
}
