@page "/project"

<p>
    • @Name - 
    <small>
    <a href="@Url" target="_blank">[Link]</a>
    <quaternarycolor>[@Year]</quaternarycolor>
    </small>
</p>

@code {
    [Parameter]
    public string? Year { get; set; }
    
    [Parameter]
    public string? Name { get; set; }

    [Parameter]
    public string? Description { get; set; }

    [Parameter]
    public string? Url { get; set; }

    [Parameter]
    public string? Language { get; set; }
}