@page "/project"


<p><a href=@ProjectUrl>@ProjectName</a></p>
<p>@ProjectDescription (@ProjectLanguage)</p>
<br/>

@code {
    [Parameter]
    public string? ProjectName { get; set; }

    [Parameter]
    public string? ProjectDescription { get; set; }

    [Parameter]
    public string? ProjectUrl { get; set; }

    [Parameter]
    public string? ProjectLanguage { get; set; }
}
