@page "/project"

<p>
    • @Name
    <quaternarycolor>[@Year]</quaternarycolor>
    <a href="@Url" target="_blank">[GitHub Repo]</a>
</p>

@code {
    [Parameter]
    public string? Year { get; set; }
    
    [Parameter]
    public string? Name { get; set; }

    [Parameter]
    public string? Description { get; set; }

    [Parameter]
    public string? Url { get; set; }

    [Parameter]
    public string? Language { get; set; }
}