@page "/textgame"
<PageTitle>Mitchell Fenner - Text Game</PageTitle>
Text adventure game
<br/>
<hr />

<p>You are in a small clearing. There is a small mailbox here.</p>
@foreach (var command in _gameStateObject.InputCommands) 
{
    <p>@command.ToString()</p>
}

<form @onsubmit=EnterCommand>
    <input id="todo" placeholder="" @bind="@_newCommand" />
</form>

@code {
    GameState _gameStateObject = new GameState();
    string _newCommand = string.Empty;
    void EnterCommand() // Can this be a lambda?
    {
        _gameStateObject.EnterCommand(_newCommand);
        _newCommand = string.Empty;
    }
}
