@page "/textgame"
<PageTitle>Mitchell Fenner - Text Game</PageTitle>
Text adventure game
<br/>
<hr />

<p>You are in a @_gameStateObject.PlayerLocation. There is a small mailbox here.</p>
@foreach (var command in _gameStateObject.InputCommands) 
{
    <p>@command.ToString()</p>
}

<form @onsubmit="Save">
    <input id="todo" placeholder="Type a command" @bind="@_newCommand" />
</form>

@code {
    private readonly GameState _gameStateObject = new GameState();
    private string _newCommand = string.Empty;
    private void Save()
    {
        if (string.IsNullOrEmpty(_newCommand)) return;
        _gameStateObject.InputCommands.Add("> " + _newCommand);
        if (_newCommand == "Open the mailbox") 
        {
            _gameStateObject.InputCommands.Add("You open the mailbox. There is a small leaflet inside.");
        }
        else
        {
            _gameStateObject.InputCommands.Add("Invalid command!");
        }
        _newCommand = string.Empty;
    }

}
