@page "/textgame"
<PageTitle>Mitchell Fenner - Text Game</PageTitle>
Text adventure game
<br/>
<hr />

<p>You are in a @GameStateObject.PlayerLocation. There is a small mailbox here.</p>
@foreach (var Command in GameStateObject.InputCommands) 
{
    <p>@Command.ToString()</p>
}

<form @onsubmit=Save>
    <input id="todo" placeholder="Type a command" @bind="@NewCommand" />
</form>

@code {
    GameState GameStateObject = new GameState();
    private string NewCommand = string.Empty;
    private void Save()
    {
        if (string.IsNullOrEmpty(NewCommand)) return;
        GameStateObject.InputCommands.Add("> " + NewCommand);
        if (NewCommand == "Open the mailbox") 
        {
            GameStateObject.InputCommands.Add("You open the mailbox. There is a small leaflet inside.");
        }
        else
        {
            GameStateObject.InputCommands.Add("Invalid command!");
        }
        NewCommand = string.Empty;
    }

}
