<li>
    <tertiarycolor>[@Issuer]</tertiarycolor>
    <a href="@Url" target="_blank">@Name</a> 
    <quaternarycolor>[@Year]</quaternarycolor>
</li>  

@code {
    [Parameter]
    public string? Year { get; set; }
    
    [Parameter]
    public string? Name { get; set; }

    [Parameter]
    public string? Issuer { get; set; }

    [Parameter]
    public string? Url { get; set; }
}
