    <li>
        send me an email: <a href="mailto:mitchfen@protonmail.com">mitch@mitchfen.com</a>
    </li>
    <li>
      connect on <a href="https://linkedin.com/in/mitchfen" target="_blank">linkedin</a>
    </li>
    <li>
      or checkout my projects on <a href="https://github.com/mitchfen" target="_blank">github</a>
    </li>
    <!--
    <li>
        <a href="https://orcid.org/0000-0002-9684-0447" target="_blank">Orcid</a>
    </li>
    <li>
        <a href="https://learn.microsoft.com/en-us/users/mitchfen/" target="_blank">Microsoft Learn</a>
    </li>
    <li>
        <a href="https://hub.docker.com/u/mitchfen" target="_blank">DockerHub</a>
    </li>
    -->

