<div class="dropdown">
    <h4 @onclick="ToggleDropdown" style="cursor: pointer;">
        @Title <small>@(_isDropdownOpen ? "∧" : "∨")</small>
    </h4>
    @if (_isDropdownOpen)
    {
        @ChildContent
    }
</div>

@code {
    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    public required RenderFragment ChildContent { get; set; }

    private bool _isDropdownOpen;

    private void ToggleDropdown()
    {
        _isDropdownOpen = !_isDropdownOpen;
    }
}