@page "/HomeLab"

<PageTitle>Mitchell Fenner - HomeLab</PageTitle>

<NavLink href="/" Match="NavLinkMatch.All">
    <small>Go back</small>
</NavLink>

<p>
    🚧 Under construction - more to come 🚧
</p>

@code {
    
}
